@import url('./global/styles.css');
@import url('./global/fonts.css');
@import url('./components/navbar.css');
@import url('./components/footer.css');

@media only screen and (min-width: 1025px) {
    main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        top: 85px;
        background: var(--nav-color);
    }

    .section-blog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .blog-title {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: initial;
        padding: 25px;
        max-width: 1750px;
    }

    .blog-title h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 300;
        color: var(--text-color);
        text-align: center;
    }
    .blog {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 25px;
        max-width: 1750px;
    }
    .row-blog {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0px;
    }
    .blog-item {
        display: flex;
        flex-direction: column;
        width: 25%;
        height: auto;
    }
    .blog-item img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .blog-item p {
        width: 100%;
        height: 15%;
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 300;
        color: var(--text-color);
    }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        top: 85px;
        background: var(--nav-color);
    }

    .section-blog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .blog-title {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: initial;
        padding: 25px;
        max-width: 1750px;
    }

    .blog-title h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 300;
        color: var(--text-color);
        text-align: center;
    }
    .blog {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 25px;
        max-width: 1750px;
    }
    .row-blog {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0px;
    }
    .blog-item {
        display: flex;
        flex-direction: column;
        width: 45%;
        height: auto;
    }
    .ultimo-item{
        display: none;
    }
    .blog-item img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .blog-item p {
        width: 100%;
        height: 15%;
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 300;
        color: var(--text-color);
    }
}
@media only screen and (max-width: 480px) {
    main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        top: 85px;
        background: var(--nav-color);
    }

    .section-blog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .blog-title {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: initial;
        padding: 25px;
        max-width: 1750px;
    }

    .blog-title h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 300;
        color: var(--text-color);
        text-align: center;
    }
    .blog {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 25px;
        max-width: 1750px;
    }
    .row-blog {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0px;
    }
    .blog-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .ultimo-item {
        display: none;
    }

    .segundo-item {
        display: none;
    }
    .blog-item img {
        width: 95%;
        height: auto;
        object-fit: cover;
    }
    .blog-item p {
        width: 100%;
        height: 15%;
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 300;
        color: var(--text-color);
    }
}