@import url('./global/styles.css');
@import url('./global/fonts.css');
@import url('./components/navbar.css');
@import url('./components/footer.css');

@keyframes scroll-carousel {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-50%); 
    }
}

@media only screen and (min-width: 1150px) {
    main {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .media-wrapper {
        position: relative;
        display: flex;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .video-wrapper {
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        overflow: hidden;
    }

    .video-wrapper  iframe {
        position: absolute;
        width: 100vw;
        height: calc(100vw / 2.35);
        top: 50%;
        left: 50%;
        min-height: 100vh;
        min-width: calc(100vh * 2.35);
        transform: translate(-50%, -50%);
    }

    .intro-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 100px;
        background-color: white;
        overflow: hidden;
    }

    .intro-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 1750px;
    }

    .title-section-intro {
        width: 20%;
        height: auto;
        margin-left: 25px;
        min-width: 275px;
    }

    .description-intro {
        width: 80%;
        height: auto;
        margin-right: 25px;
    }

    .description-intro p {
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 200;
        color: var(--text-color);
        padding: 15px 0px;
    }

    .title-section-intro h1{
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        text-align: initial;
    }

    .title-section-intro h2{
        font-family: var(--font-secondary);
        font-size: 26px;
        font-weight: 300;
        color: var(--text-color);
    }

    .spaces-section {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 100px;
        background-color: white;
        overflow: hidden;
        top: -1px;
    }

    .spaces-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 1750px;
        padding: 0px 25px;
    }

    .control-spaces-left, 
    .control-spaces-right {
        display: flex;
        width: auto;
        justify-content: center;
        align-items: center;
        min-width: 50px;
        cursor: pointer;
    }

    .title-section-spaces {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: auto;
    }

    .title-section-spaces h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        width: 80%;
    }

    .carousel-spaces-controls {
        display: none;
        justify-content: space-between;
        align-items: center;
        width: 20%;
    }

    .carousel-control-left {
        background: var(--secondary-color);
        border: none;
        width: 25px;
    }

    .carousel-control-right {
        background: var(--secondary-color);
        border: none;
        width: 25px;
    }

    .carousel-spaces-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start !important;
        width: 100%;
        overflow: hidden;
        padding: 50px 0px;
    }

    .carousel-spaces-items {
        display: flex;
        flex-direction: row !important;
        width: 400%;
        height: 100%;
        transition: transform 0.5s ease;
    }

    .carousel-spaces-item {
        width: calc(100% / 4);
        height: 100%;
        padding: 0px 10px 0px 0px;
    }

    .carousel-spaces-item img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 2 / 1;
        top: 50%;
        left: 50%;
        object-position: bottom;
    }

    .quote-section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 100px;
        background-color: white;
        overflow: hidden;
        top: -2px;
    }

    .quote-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 1750px;
    }

    .quote-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 65%;
        height: auto;
        padding: 25px 25px;
    }

    .quote-content h3 {
        font-family: var(--font-secondary);
        font-size: 24px;
        font-weight: 300;
        color: var(--text-color);
        padding: 10px 0px;
    }

    .quote-content h4 {
        font-family: var(--font-secondary);
        font-size: 24px;
        font-weight: 400;
        color: var(--text-color);
        text-align: right;
        padding: 10px 0px;
    }

    .projects-section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 100px;
        background-color: white;
        overflow: hidden;
        top: -3px;
    }

    .text-projects {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 1750px;
        align-items: center;
    }

    .text-projects h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        text-align: center;
    }

    .text-projects p {
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 200;
        color: var(--text-color);
        text-align: center;
        padding: 25px 0px;
        max-width: 750px;
    }

    .carusel-proyects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start !important;
        width: 75%;
        overflow: hidden;
        padding: 50px 0px;
    }

    .carousel-proyects-items {
        display: flex;
        flex-direction: row !important;
        width: 300%;
        height: 100%;
        transition: transform 0.5s ease;
    }

    .carousel-proyects-item {
        width: calc(100% / 3);
        height: 100%;
    }

    .carousel-proyects-item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        aspect-ratio: 2 / 1;
    }

    .carousel-indicators {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 25px;
    }
    
    .indicator {
        height: 7.5px;
        width: 7.5px;
        margin: 0 5px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .indicator.active {
        background-color: #333;
    }

    .gallery-section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 100px;
        background-color: white;
        overflow: hidden;
        top: -4px;
    }

    .title-gallery {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .title-gallery h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        text-align: center;
    }

    .carusel-gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 650px;
        padding: 50px 0px;
    }

    .carousel-gallery-items {
        display: flex;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
        width: 450%;
        height: 100%;
        animation: scroll-carousel 90s linear infinite;
    }

    .carousel-gallery-item {
        width: auto;
        height: 100%;
        padding: 25px 10px;
    }

    .carousel-gallery-item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    .blog-section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 100px;
        background-color: white;
        overflow: hidden;
        top: -4px;
    }

    .blog-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        overflow: hidden;
        max-width: 1750px;
    }
    .tittle-blog {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .tittle-blog h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        text-align: center;
    }
    .blog-control-left {
        background-color: white;
        border: none;
        padding: 0px 25px;
    }
    .blog-control-right {
        background-color: white;
        border: none;
        padding: 0px 25px;
    }
    .carousel-blog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150%;
        height: auto;
        padding: 50px 15px;
    }
    .carousel-blog-items {
        display: flex;
        flex-direction: row !important;
        width: 100%;
        height: 100%;
        transition: transform 0.5s ease;
    }
    .carousel-blog-item {
        display: flex;
        flex-direction: column;
        width: calc(100%);
        height: 100%;
        padding: 0px 25px;
        min-width: 350px;
    }
    .carousel-blog-item img {
        width: 100%;
        height: 85%;
        object-fit: cover;
    }
    .carousel-blog-item p {
        width: 100%;
        height: 15%;
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 300;
        color: var(--text-color);
    }
}


@media only screen and (min-width: 1150px) and (max-width: 1850px) {
    .control-spaces-left, 
    .control-spaces-right {
        display: none;
        width: auto;
        justify-content: center;
        align-items: center;
        min-width: 50px;
        cursor: pointer;
    }
    .carousel-spaces-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 10%;
        max-width: 100px;
    }
    .carousel-control-left,
    .carousel-control-right {
        background: none;
        border: none;
        width: 25px;
    }
}


@media only screen and (min-width: 481px) and (max-width: 1150px) {
    main {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
    }

    .media-wrapper {
        position: relative;
        display: flex;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .video-wrapper {
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        overflow: hidden;
    }

    .video-wrapper  iframe {
        position: absolute;
        width: 100vw;
        height: calc(100vw / 2.35);
        top: 50%;
        left: 50%;
        min-height: 100vh;
        min-width: calc(100vh * 2.35);
        transform: translate(-50%, -50%);
    }

    .intro-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 75px;
        background-color: white;
        overflow: hidden;
    }

    .intro-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 1750px;
    }

    .title-section-intro {
        width: 100%;
        height: auto;
        margin-left: 150px;
    }

    .description-intro {
        width: 100%;
        height: auto;
        margin-left: 150px;
        padding-right: 150px;
    }

    .description-intro p {
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 200;
        color: var(--text-color);
        padding: 15px 0px;
    }

    .title-section-intro h1{
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        text-align: initial;
    }

    .title-section-intro h2{
        font-family: var(--font-secondary);
        font-size: 26px;
        font-weight: 300;
        color: var(--text-color);
    }

    .spaces-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 75px;
        background-color: white;
        overflow: hidden;
    }

    .spaces-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 1750px;
        padding: 0px 25px;
    }

    .control-spaces-left, 
    .control-spaces-right {
        display: none;
        width: auto;
        justify-content: center;
        align-items: center;
        min-width: 50px;
        cursor: pointer;
    }

    .title-section-spaces {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: auto;
    }

    .title-section-spaces h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        width: 80%;
    }

    .carousel-spaces-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 10%;
        max-width: 100px;
        min-width: 75px;
    }

    .carousel-control-left {
        width: 25px;
        background: none;
        border: none;
        width: 25px;
    }

    .carousel-control-right {
        width: 25px;
        background: none;
        border: none;
        width: 25px;
    }

    .carousel-spaces-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start !important;
        width: 100%;
        overflow: hidden;
        padding: 50px 0px;
    }

    .carousel-spaces-items {
        display: flex;
        flex-direction: row !important;
        width: 400%;
        height: 100%;
        transition: transform 0.5s ease;
    }

    .carousel-spaces-item {
        width: calc(100% / 4);
        height: 100%;
        padding: 0px 10px 0px 0px;
    }

    .carousel-spaces-item img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 2 / 1;
        top: 50%;
        left: 50%;
        object-position: bottom;
    }

    .quote-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 75px;
        background-color: white;
        overflow: hidden;
    }

    .quote-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 1750px;
    }

    .quote-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85%;
        height: auto;
        padding: 25px 25px;
    }

    .quote-content h3 {
        font-family: var(--font-secondary);
        font-size: 24px;
        font-weight: 300;
        color: var(--text-color);
        padding: 10px 0px;
    }

    .quote-content h4 {
        font-family: var(--font-secondary);
        font-size: 24px;
        font-weight: 400;
        color: var(--text-color);
        text-align: right;
        padding: 10px 0px;
    }

    .projects-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 75px;
        background-color: white;
        overflow: hidden;
    }

    .text-projects {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 1750px;
        align-items: center;
    }

    .text-projects h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        text-align: center;
    }

    .text-projects p {
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 200;
        color: var(--text-color);
        text-align: center;
        padding: 25px 50px;
    }

    .carusel-proyects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start !important;
        width: 75%;
        overflow: hidden;
        padding: 50px 0px;
    }

    .carousel-proyects-items {
        display: flex;
        flex-direction: row !important;
        width: 300%;
        height: 100%;
        transition: transform 0.5s ease;
    }

    .carousel-proyects-item {
        width: calc(100% / 3);
        height: 100%;
    }

    .carousel-proyects-item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        aspect-ratio: 2 / 1;
    }

    .carousel-indicators {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 25px;
    }
    
    .indicator {
        height: 7.5px;
        width: 7.5px;
        margin: 0 5px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .indicator.active {
        background-color: #333;
    }

    .gallery-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 75px;
        background-color: white;
        overflow: hidden;
    }

    .title-gallery {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .title-gallery h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        text-align: center;
    }

    .carusel-gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 50px 0px;
    }

    .carousel-gallery-items {
        display: flex;
        flex-direction: row !important;
        width: 400%;
        height: 100%;
        animation: scroll-carousel 70s linear infinite;
    }

    .carousel-gallery-item {
        width: auto;
        height: 100%;
        padding: 10px;
    }

    .carousel-gallery-item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    .blog-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 100px;
        background-color: white;
        overflow: hidden;
    }

    .blog-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 1750px;
    }
    .tittle-blog {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .tittle-blog h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        text-align: center;
    }
    .blog-control-left {
        background-color: white;
        border: none;
        padding: 0px 25px;
    }
    .blog-control-right {
        background-color: white;
        border: none;
        padding: 0px 25px;
    }
    .carousel-blog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
        padding: 50px 25px;
    }

    .carousel-blog-items {
        display: flex;
        flex-direction: row !important;
        width: 250%;
        height: 100%;
        transition: transform 0.5s ease;
    }

    .carousel-blog-item {
        display: flex;
        flex-direction: column;
        width: calc(100%);
        height: 100%;
        padding: 0px 25px;
        min-width: 375px;
    }

    .carousel-blog-item img {
        width: 100%;
        height: 85%;
        object-fit: cover;
    }

    .carousel-blog-item p {
        width: 100%;
        height: 15%;
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 300;
        color: var(--text-color);
    }
}

@media only screen and (max-width: 480px) {
    main {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
    }

    .media-wrapper {
        position: relative;
        display: flex;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .video-wrapper {
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        overflow: hidden;
    }

    .video-wrapper  iframe {
        position: absolute;
        width: 100vw;
        height: calc(100vw / 2.35);
        top: 50%;
        left: 50%;
        min-height: 100vh;
        min-width: calc(100vh * 2.35);
        transform: translate(-50%, -50%);
    }

    .intro-section {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 50px;
        background-color: white;
        overflow: hidden;
    }

    .intro-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: initial;
        width: 100%;
        height: auto;
        min-width: 375px;
    }

    .title-section-intro {
        width: 100%;
        height: auto;
        margin-left: 50px;
    }

    .description-intro {
        width: 100%;
        height: auto;
        padding-right: 100px;
        margin-left: 50px;
    }

    .description-intro p {
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 200;
        color: var(--text-color);
        padding: 15px 0px;
    }

    .title-section-intro h1{
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        text-align: initial;
    }

    .title-section-intro h2{
        font-family: var(--font-secondary);
        font-size: 26px;
        font-weight: 300;
        color: var(--text-color);
    }

    .spaces-section {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 50px;
        background-color: white;
        overflow: hidden;
        top: -1px;
    }

    .spaces-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 1750px;
        padding: 0px 25px;
    }

    .control-spaces-left, 
    .control-spaces-right {
        display: none;
        width: auto;
        justify-content: center;
        align-items: center;
        min-width: 50px;
        cursor: pointer;
    }

    .title-section-spaces {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: auto;
    }

    .title-section-spaces h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        width: 80%;
    }

    .carousel-spaces-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20%;
        min-width: none;
    }

    .carousel-control-left {
        background: none;
        border: none;
        width: 25px;
    }

    .carousel-control-right {
        background: none;
        border: none;
        width: 25px;
    }

    .carousel-spaces-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start !important;
        width: 100%;
        overflow: hidden;
        padding: 25px 0px;
    }

    .carousel-spaces-items {
        display: flex;
        flex-direction: row !important;
        width: 400%;
        height: 100%;
        transition: transform 0.5s ease;
    }

    .carousel-spaces-item {
        width: calc(100% / 4);
        height: 100%;
        padding: 0px 10px 0px 0px;
    }

    .carousel-spaces-item img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 2 / 1;
        top: 50%;
        left: 50%;
        object-position: bottom;
    }

    .quote-section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 50px;
        background-color: white;
        overflow: hidden;
        top: -2px;
    }

    .quote-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 1750px;
    }

    .quote-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
        height: auto;
        padding: 25px 25px;
    }

    .quote-content h3 {
        font-family: var(--font-secondary);
        font-size: 24px;
        font-weight: 300;
        color: var(--text-color);
        padding: 10px 0px;
    }

    .quote-content h4 {
        font-family: var(--font-secondary);
        font-size: 24px;
        font-weight: 400;
        color: var(--text-color);
        text-align: right;
        padding: 10px 0px;
    }

    .projects-section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 50px;
        background-color: white;
        overflow: hidden;
        top: -3px;
    }

    .text-projects {
        display: flex;
        flex-direction: column;
        width: 85%;
        height: auto;
        max-width: 1750px;
        align-items: center;
    }

    .text-projects h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        text-align: center;
    }

    .text-projects p {
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 200;
        color: var(--text-color);
        text-align: center;
        padding: 25px 0px;
        max-width: 750px;
    }

    .carusel-proyects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start !important;
        width: 100%;
        overflow: hidden;
        padding: 25px 0px;
    }

    .carousel-proyects-items {
        display: flex;
        flex-direction: row !important;
        width: 300%;
        height: 100%;
        transition: transform 0.5s ease;
    }

    .carousel-proyects-item {
        width: calc(100% / 3);
        height: 100%;
    }

    .carousel-proyects-item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        aspect-ratio: 2 / 1;
    }

    .carousel-indicators {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 25px;
    }
    
    .indicator {
        height: 7.5px;
        width: 7.5px;
        margin: 0 5px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .indicator.active {
        background-color: #333;
    }

    .gallery-section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 50px;
        background-color: white;
        overflow: hidden;
        top: -4px;
    }

    .title-gallery {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .title-gallery h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        text-align: center;
    }

    .carusel-gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 25px 0px;
    }

    .carousel-gallery-items {
        display: flex;
        flex-direction: row !important;
        width: 650%;
        height: 100%;
        animation: scroll-carousel 90s linear infinite;
    }

    .carousel-gallery-item {
        width: auto;
        height: 100%;
        padding: 10px;
    }

    .carousel-gallery-item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    .blog-section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 100px;
        background-color: white;
        overflow: hidden;
        top: -5px;
    }

    .blog-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 1750px;
    }
    .tittle-blog {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .tittle-blog h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        text-align: center;
    }
    .blog-control-left {
        background-color: white;
        border: none;
        padding: 0px 25px;
    }
    .blog-control-right {
        background-color: white;
        border: none;
        padding: 0px 25px;
    }
    .carousel-blog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
        padding: 25px 15px;
    }

    .carousel-blog-items {
        display: flex;
        flex-direction: row !important;
        width: 750%;
        height: 100%;
        transition: transform 0.5s ease;
    }

    .carousel-blog-item {
        display: flex;
        flex-direction: column;
        width: calc(100% / 7);
        height: 100%;
        padding: 0px 25px;
    }

    .carousel-blog-item img {
        width: 100%;
        height: 85%;
        object-fit: cover;
    }

    .carousel-blog-item p {
        width: 100%;
        height: 15%;
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 300;
        color: var(--text-color);
    }
}