@import url('./global/styles.css');
@import url('./global/fonts.css');
@import url('./components/navbar.css');
@import url('./components/footer.css');

@media only screen and (min-width: 1025px) {
    main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        top: 85px;
        background: var(--nav-color);
    }
    .section-showrooms {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        max-width: 1750px;
        top: 85px;
    }
    .text-showrooms {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 25px 25px;
        max-width: 1750px;
    }
    .text-showrooms h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 300;
        color: var(--text-color);
    }

    .text-showrooms p {
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 300;
        color: var(--text-color);
        padding: 15px 0px;
        max-width: 900px;
    }
    .gallery-showrooms {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 0px 25px;
        max-width: 1800px;
    }
    .showrooms-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        padding: 25px 0px;
    }
    .showroom-left {
        margin-right: 25px;
    }
    .showroom-gallery {
        width: 47.5%;
        height: auto;
        min-width: 465px;
    }
    .showroom-gallery img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .showroom-gallery h1 {
        font-family: var(--font-secondary);
        font-size: 24px;
        font-weight: 300;
        color: var(--text-color);
    }
    .section-distribuidores {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        max-width: 1750px;
    }
    .text-distribuidores {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 25px 25px;
        max-width: 1750px;
    }
    .text-distribuidores h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 300;
        color: var(--text-color);
    }

    .text-distribuidores p {
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 300;
        color: var(--text-color);
        padding: 15px 0px;
        max-width: 900px;
    }
    .gallery-distribuidores {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 0px 25px;
        max-width: 1800px;
    }
    .distribuidores-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        padding: 25px 0px;
    }
    .distribuidores-left {
        margin-right: 25px;
    }
    .distribuidores-gallery {
        width: 47.5%;
        height: auto;
        min-width: 465px;
    }
    .distribuidores-gallery img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .distribuidores-gallery h1 {
        font-family: var(--font-secondary);
        font-size: 24px;
        font-weight: 300;
        color: var(--text-color);
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        top: 85px;
        background: var(--nav-color);
    }
    .section-showrooms {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .text-showrooms {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 25px 25px;
        max-width: 1750px;
    }
    .text-showrooms h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 300;
        color: var(--text-color);
    }

    .text-showrooms p {
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 300;
        color: var(--text-color);
        padding: 15px 0px;
        max-width: 900px;
    }
    .gallery-showrooms {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 1800px;
    }
    .showrooms-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        padding: 0px;
    }
    .showroom-left {
        margin-right: 0px;
    }
    .showroom-gallery {
        width: 100%;
        height: auto;
        min-width: 465px;
        padding: 25px 0px;
    }
    .showroom-gallery img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .showroom-gallery h1 {
        font-family: var(--font-secondary);
        font-size: 24px;
        font-weight: 300;
        color: var(--text-color);
        margin: 0px 25px;
    }
    .section-distribuidores {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .text-distribuidores {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 25px 25px;
        max-width: 1750px;
    }
    .text-distribuidores h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 300;
        color: var(--text-color);
    }

    .text-distribuidores p {
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 300;
        color: var(--text-color);
        padding: 15px 0px;
        max-width: 900px;
    }
    .gallery-distribuidores {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 1800px;
    }
    .distribuidores-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        padding: 0px;
    }
    .distribuidores-left {
        margin-right: 0px;
    }
    .distribuidores-gallery {
        width: 100%;
        height: auto;
        min-width: 465px;
        padding: 25px 0px;
    }
    .distribuidores-gallery img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .distribuidores-gallery h1 {
        font-family: var(--font-secondary);
        font-size: 24px;
        font-weight: 300;
        color: var(--text-color);
        margin: 0px 25px;
    }
}
@media only screen and (max-width: 480px) {
    main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        top: 85px;
        background: var(--nav-color);
    }
    .section-showrooms {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .text-showrooms {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 25px 25px;
        max-width: 1750px;
    }
    .text-showrooms h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 300;
        color: var(--text-color);
    }

    .text-showrooms p {
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 300;
        color: var(--text-color);
        padding: 15px 0px;
        max-width: 900px;
    }
    .gallery-showrooms {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 1800px;
    }
    .showrooms-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        padding: 0px;
    }
    .showroom-left {
        margin-right: 0px;
    }
    .showroom-gallery {
        width: 100%;
        height: auto;
        min-width: 375px;
        padding: 25px 0px;
    }
    .showroom-gallery img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .showroom-gallery h1 {
        font-family: var(--font-secondary);
        font-size: 24px;
        font-weight: 300;
        color: var(--text-color);
        margin: 0px 25px;
    }
    .section-distribuidores {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .text-distribuidores {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 25px 25px;
        max-width: 1750px;
    }
    .text-distribuidores h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 300;
        color: var(--text-color);
    }

    .text-distribuidores p {
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 300;
        color: var(--text-color);
        padding: 15px 0px;
        max-width: 900px;
    }
    .gallery-distribuidores {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 1800px;
    }
    .distribuidores-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        padding: 0px;
    }
    .distribuidores-left {
        margin-right: 0px;
    }
    .distribuidores-gallery {
        width: 100%;
        height: auto;
        min-width: 375px;
        padding: 25px 0px;
    }
    .distribuidores-gallery img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .distribuidores-gallery h1 {
        font-family: var(--font-secondary);
        font-size: 24px;
        font-weight: 300;
        color: var(--text-color);
        margin: 0px 25px;
    }
}