/* Tablet Styles */

@media only screen and (min-width: 481px) and (max-width: 1024px) {

    .container {
        position: relative;
        display: flex;
        width: 100%;
        height: auto;
    }

    .header {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 85px;
        background-color: var(--nav-color);
    }

    .navbar-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 85px;
    }

    .navbar-logo {
        display: flex;
        width: 80%;
        height: 85px;
        justify-content: initial;
        align-items: center;
        padding: 0px 25px;
    }

    .navbar-logo img {
        width: 130px;
        height: auto;
        object-fit: contain;
    }

    .navbar-toggle {
        display: flex;
        width: 85px;
        height: 85px;
        justify-content: center;
        align-items: center;
    }

    .active {
        background-color: var(--primary-color) !important;
    }


    .navbar-toggle img {
        width: 25px;
        height: 25px;
        object-fit: contain;
    }

    .navbar-links {
        display: none;
        width: 100%;
        height: auto;
        z-index: 1;
        background-color: var(--transparent-color);
    }

    .navbar-open {
        display: flex !important;
    }

    .navbar-list {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    ul li {
        display: flex;
        width: 100%;
        height: 85px;
        justify-content: initial;
        align-items: center;
        padding: 0px 25px;
    }

    ul li a {
        text-decoration: none;
        font-family: var(--font-primary);
        font-weight: 400;
        color: var(--text-color);
    }

    #language {
        font-weight: 600;
    }

    .header-media {
        display: flex;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .media-overlay {
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url(../img/header.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        top: calc(100vh + 85px);
        background: var(--secondary-color);
    }

    .intro-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 50px 0px;
        max-width: 750px;
    }

    .title-section-intro {
        width: 75%;
        height: auto;
    }

    .description-intro {
        width: 75%;
        height: auto;
    }

    .description-intro p {
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 200;
        color: var(--text-color);
        padding: 15px 0px;
    }

    .title-section-intro h1{
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        text-align: initial;
    }

    .title-section-intro h2{
        font-family: var(--font-secondary);
        font-size: 26px;
        font-weight: 300;
        color: var(--text-color);
    }

    .gallery-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 750px;
    }

    .title-section-gallery {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: auto;
        padding: 0px 25px;
    }

    .title-section-gallery h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        width: 80%;
    }

    .carousel-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20%;
        max-width: 85px;
    }

    .carousel-control-left {
        background: var(--secondary-color);
        border: none;
        width: 25px;
    }

    .carousel-control-right {
        background: var(--secondary-color);
        border: none;
        width: 25px;
    }

    .carousel-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start !important;
        width: 90%;
        height: 425px;
        overflow: hidden;
        padding: 25px 15px;
    }

    .carousel-items {
        display: flex;
        flex-direction: row !important;
        width: 400%;
        height: 100%;
        transition: transform 0.5s ease;
    }

    .carousel-item {
        width: calc(100% / 4);
        height: 100%;
        padding: 0px 10px 0px 0px;
    }

    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .quote-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 750px;
    }

    .quote-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 25px 25px;
    }

    .quote-content h3 {
        font-family: var(--font-secondary);
        font-size: 24px;
        font-weight: 300;
        color: var(--text-color);
        padding: 10px 0px;
    }

    .quote-content h4 {
        font-family: var(--font-secondary);
        font-size: 24px;
        font-weight: 400;
        color: var(--text-color);
        text-align: right;
        padding: 10px 0px;
    }

    .projects-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 50px 0px;
        max-width: 750px;
    }

    .text-projects {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 0px 25px;
    }

    .text-projects h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        text-align: center;
    }

    .text-projects p {
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 200;
        color: var(--text-color);
        text-align: center;
        padding: 15px 0px;
    }

    .carusel-proyects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start !important;
        width: 90%;
        height: 500px;
        overflow: hidden;
        padding: 25px 0px;
    }

    .carousel-proyects-items {
        display: flex;
        flex-direction: row !important;
        width: 300%;
        height: 100%;
        transition: transform 0.5s ease;
    }

    .carousel-proyects-item {
        width: calc(100% / 3);
        height: 100%;
    }

    .carousel-proyects-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 50px 0px;
        max-width: 750px;
    }

    .title-gallery {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .title-gallery h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        text-align: center;
    }

    .carusel-gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 90%;
        height: 500px;
        overflow: hidden;
        padding: 25px 0px;
    }

    .carousel-gallery-items {
        display: flex;
        flex-direction: row !important;
        width: 400%;
        height: 100%;
        transition: transform 0.5s ease;
    }

    .carousel-gallery-item {
        width: calc(100% / 4);
        height: 100%;
    }

    .carousel-gallery-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .blog-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 50px 0px;
        max-width: 750px;
    }

    .tittle-blog {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .tittle-blog h1 {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 400;
        color: var(--text-color);
        text-align: center;
        padding: 0px 25px;
    }

    .blog-control-left {
        background: var(--secondary-color);
        border: none;
        width: 25px;
    }

    .blog-control-right {
        background: var(--secondary-color);
        border: none;
        width: 25px;
    }

    .carousel-blog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start !important;
        width: 100%;
        height: 500px;
        overflow: hidden;
        padding: 25px 15px;
    }

    .carousel-blog-items {
        display: flex;
        flex-direction: row !important;
        width: 400%;
        height: 100%;
        transition: transform 0.5s ease;
    }

    .carousel-blog-item {
        display: flex;
        flex-direction: column;
        width: calc(100% / 4);
        height: 100%;
        padding: 0px 10px;
    }

    .carousel-blog-item img {
        width: 100%;
        height: 85%;
        object-fit: cover;
    }

    .carousel-blog-item p {
        width: 100%;
        height: 15%;
        font-family: var(--font-secondary);
        font-size: 18px;
        font-weight: 300;
        color: var(--text-color);
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 50px 0px;
        border-top: solid 1px #c9c9c9;
    }

    .showrooms-principal, .showrooms-secundario {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-evenly;
        align-items: center;
    }

    .showroom {
        display: flex;
        flex-direction: column;
        width: 45%;
        height: auto;
        padding: 25px;
    }

    .showroom img {
        width: 50px;
        height: 50px;
        object-fit: scale-down;
    }

    .showroom h4 {
        font-family: var(--font-secondary);
        font-size: 14px;
        font-weight: 400;
        color: var(--text-color);
    }

    .showroom p {
        font-family: var(--font-secondary);
        font-size: 10px;
        font-weight: 400;
        color: var(--text-color);
    }

    .showroom h3 {
        font-family: var(--font-secondary);
        font-size: 10px;
        font-weight: 400;
        color: var(--text-color);
    }

    .redes-sociales {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-evenly;
        align-items: center;
        padding: 25px;
    }

    .links {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-evenly;
        align-items: center;
        padding: 25px;
    }

    .link-item a {
        font-family: var(--font-secondary);
        font-size: 12px;
        font-weight: 400;
        color: var(--text-color);
        text-decoration: none;
    }
}

@media only screen and (min-width: 560px) and (max-width: 720px) {

    .carousel-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start !important;
        width: 90%;
        height: 350px;
        overflow: hidden;
        padding: 25px 15px;
    }

    .carusel-proyects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start !important;
        width: 90%;
        height: 450px;
        overflow: hidden;
        padding: 25px 0px;
    }

    .carusel-gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 90%;
        height: 450px;
        overflow: hidden;
        padding: 25px 0px;
    }

    .carousel-blog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start !important;
        width: 100%;
        height: 425px;
        overflow: hidden;
        padding: 25px 15px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 560px) {

    .carousel-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start !important;
        width: 90%;
        height: 315px;
        overflow: hidden;
        padding: 25px 15px;
    }

    .carusel-proyects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start !important;
        width: 90%;
        height: 375px;
        overflow: hidden;
        padding: 25px 0px;
    }

    .carusel-gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 90%;
        height: 400px;
        overflow: hidden;
        padding: 25px 0px;
    }

    .carousel-blog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start !important;
        width: 100%;
        height: 400px;
        overflow: hidden;
        padding: 25px 15px;
    }
}