@import url('../components/navbar.css');
@import url('../components/footer.css');

@media only screen and (max-width: 480px) {
    
    main {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 1;
        background-color: var(--secondary-color);
    }

    .title-reforma615 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: initial;
        width: 100%;
        height: auto;
        margin-top: 75px;
        padding: 25px;
        max-width: 1350px;
    }

    .title-reforma615 h1 {
        font-size: 24px;
        font-weight: 400;
        font-family: var(--font-secondary);
        color: var(--text-color);
    }

    .reforma615-return {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 50px 25px;
        max-width: 1350px;
        cursor: pointer;
    }

    .reforma615-return h3 {
        font-size: 16px;
        font-weight: 300;
        font-family: var(--font-secondary);
        color: var(--text-color);
        margin: 0px 25px;
    }

    .reforma615-return img {
        width: 20px;
    }

    .reforma615-gallery {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 1350px;
    }

    .row-gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .reforma615-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .reforma615-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        padding: 5px;
    }

    .image-1 {
        width: 100%;
    }

    .image-2 {
        width: 50%;
    }

    .image-3 {
        width: 50%;
    }

    .image-4 {
        width: 50%;
    }

    .image-5 {
        width: 50%;
    }

    .image-6 {
        width: 100%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1150px) {

    main {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 1;
        background-color: var(--secondary-color);
    }

    .title-reforma615 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: initial;
        width: 100%;
        height: auto;
        margin-top: 75px;
        padding: 25px;
        max-width: 1350px;
    }

    .title-reforma615 h1 {
        font-size: 24px;
        font-weight: 400;
        font-family: var(--font-secondary);
        color: var(--text-color);
    }

    .reforma615-return {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 50px 25px;
        max-width: 1350px;
        cursor: pointer;
    }

    .reforma615-return h3 {
        font-size: 16px;
        font-weight: 300;
        font-family: var(--font-secondary);
        color: var(--text-color);
        margin: 0px 25px;
    }

    .reforma615-return img {
        width: 20px;
    }

    .reforma615-gallery {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 1350px;
    }

    .row-gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .reforma615-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .reforma615-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        padding: 10px;
    }

    .image-1 {
        width: 100%;
    }

    .image-2 {
        width: 50%;
    }

    .image-3 {
        width: 50%;
    }

    .image-4 {
        width: 50%;
    }

    .image-5 {
        width: 50%;
    }

    .image-6 {
        width: 100%;
    }
}

@media only screen and (min-width: 1150px) {

    main {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 1;
        background-color: var(--secondary-color);
    }

    .title-reforma615 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: initial;
        width: 100%;
        height: auto;
        margin-top: 75px;
        padding: 25px;
        max-width: 1350px;
    }

    .title-reforma615 h1 {
        font-size: 24px;
        font-weight: 400;
        font-family: var(--font-secondary);
        color: var(--text-color);
    }

    .reforma615-return {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 50px 25px;
        max-width: 1350px;
        cursor: pointer;
    }

    .reforma615-return h3 {
        font-size: 16px;
        font-weight: 300;
        font-family: var(--font-secondary);
        color: var(--text-color);
        margin: 0px 25px;
    }

    .reforma615-return img {
        width: 20px;
    }

    .reforma615-gallery {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 1350px;
    }

    .row-gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .reforma615-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .reforma615-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        padding: 15px;
    }

    .image-1 {
        width: 100%;
    }

    .image-2 {
        width: 50%;
    }

    .image-3 {
        width: 25%;
    }

    .image-4 {
        width: 25%;
    }

    .image-5 {
        width: 25%;
    }

    .image-6 {
        width: 50%;
    }

    .image-7 {
        width: 25%;
    }

    .image-8 {
        width: 50%;
    }

    .image-9 {
        width: 25%;
    }

    .image-10 {
        width: 25%;
    }

    .image-11 {
        width: 100%;
    }

    .image-12 {
        width: 25%;
    }

    .image-13 {
        width: 25%;
    }

    .image-14 {
        width: 50%;
    }

    .image-15 {
        width: 25%;
    }

    .image-16 {
        width: 50%;
    }

    .image-17 {
        width: 25%;
    }

    .image-18 {
        width: 100%;
    }
}